*{
	margin:0;
	padding:0;
}
body{
	font-family: Times, "Times New Roman", serif;
	font-size: 12pt;
	padding-top: 37px;
}
h1{
	text-align:center;
	font-size: 12pt;
	margin-bottom: 16px;
}
.printforms_data{
	width:170mm;
	overflow:hidden;
	margin:5px auto;
}
.printforms_dataLeft{
	float:left;
	/* width:300px; */
}
.printforms_dataRight{
	float:right;
	/* width:300px; */
}
p{line-height: 13pt;margin-bottom: 3px;}
.printforms_text{
	width:170mm;
	margin:15px auto;
	text-align: justify;
}
h2{
	text-align:center;
	margin-bottom: 0px;
	font-size: 12pt;
	font-weight: normal;
	margin-top: 17px;
}
.printforms_textAdress{
	width:170mm;
	overflow:hidden;
	margin: -16px auto 10px;
}
.printforms_adress2{
	float:left;
	/* margin-left:30px; */
	width: 287px;
	margin-top: 17px;
}
h4{
	font-size: 12pt;
	font-weight:600;
	font-style:italic;
	text-decoration:underline;
}
/* SIGNING */

.printforms_end{
	width:170mm;
	margin: 47px auto;
	overflow:hidden;
}
.printforms_pechat{
	float:left;
	width: 321px;
}
.printforms_area{
	width: 125px;
	float:left;
	/* margin-left:20px; */
}
.printforms_ruk{
	float:left;
}
.printforms_imgpachat{
	margin: 7px 25px;
	width: 151px;
}
.printforms_imgpachat img{
	width:150px;
	
}
span{
	font-size: 12pt;
}
table{
	width:170mm;
	margin: 5px auto 18px;
	border-collapse: collapse;
}
table th{
	border:1px solid grey;
	/* height:30px; */
}
table td{
	border:1px solid grey;
	height:30px;
}

table tr td:first-child {
	text-align: center;
}

table tr td:nth-child(3),
table tr td:nth-child(4),
table tr td:nth-child(5) {
	text-align: center;
}

table tr td:nth-child(2) {
	padding: 0 7px;
}

table tr:last-child td:nth-child(2) {
	text-align: right;
	font-weight: bold;
}

table tr:last-child td {
	font-weight: bold;
}

table tr td:nth-child(6) {
	text-align: right;
	padding: 0 7px;
}


.th1{
	width: 35px;
}
.th2{width: 360px;}
.th3{width: 45px;}
.th4{width: 74px;}
.th5{width: 50px;}
.th6{
	width: 94px;
}

.printforms_textAdress p {
	font-size: 12pt;
}

.printforms_col2 {width: 340px;}

.printforms_pod {width: 305px;}

.printforms_name_per {margin-bottom: 34px;}

.printforms_pop {margin-top: 17px;padding-left: 68px;}

.printforms_ccl2 {padding-left: 9px;box-sizing: border-box;}

.printforms_title_table {
	width: 170mm;
	margin: 0 auto;
	text-align: right;
	margin-bottom: 20px;
}

.printforms_title_table p {
	line-height: 20px;
}