*{
	margin:0;
	padding:0;
}
body{
	font-family: Times, "Times New Roman", serif;
	font-size: 11pt;
	padding-top: 30px;
}
.tg  {
	border-collapse:collapse;
	border-spacing:0;
	width: 170mm;
	margin:30px auto;
	margin-bottom:0px;
	font-size: 10pt;
}
.printforms_par{
	font-size: 10pt;
}
h3{
	text-align:center;
}
h2{
	font-size: 14pt;
	padding-bottom: 2px;
}
.printforms_h2{
	width:170mm;
	text-align:center;
	border-bottom:1px solid #000;
	margin:15px auto;
	margin-top:0px;
}

.printforms_ppp{
	margin-left: 100px;
}
.printforms_post{
	margin-bottom: 20px;
}



table{
	width:170mm;
	margin:5px auto;
}
table th{
	border:1px solid #000;
	height:30px;
	font-weight: normal;
}
table td{
	border:1px solid #000;
	padding: 2px 7px;
	/* height:30px; */
}
.th1{
	width:3%;
}
.th2{
	width:75%;
}
.th3{
	width:4%;
}
.th4{
	width:6%;
}
.th5{
	width:5%;
}
.th6{
	width:7%;
}
.printforms_tablepoqr{
	width:180px;
	margin-left: 0;
}
.printforms_minTable{
	width:170mm;
	margin: 10px auto;
	overflow:hidden;
}
.printforms_tableLeft{
	float:left;
	margin-top: 7px;
}
.printforms_tableRight{
	float:right;
}
.printforms_tablemec{
	width: 327px;
	border-collapse: collapse;
}
.printforms_end{
	width:170mm;
	margin:30px auto;
	overflow:hidden;
}
.printforms_pechat{
	float:left;
	width: 282px;
}
.printforms_area{
	width: 86px;
	float:left;
	margin-left: 5px;
}
.printforms_ruk{
	float:left;
}
.printforms_imgpachat{
	margin:20px auto;
	width:200px;
}
.printforms_imgpachat img{
	width:150px;
	
}
span{
	font-size: 11pt;
	float:left;
}

.printforms_par {
	margin-bottom: 10px;
}

.printforms_h3 {
	font-weight: normal;
	font-size: 12pt;
}


.tg span {
	font-size: 10pt;
}


.tg td {
	padding: 0 7px;
}

.printforms_table_main {
}


table.printforms_table_main{
	width:170mm;
	margin:5px auto;
	border-collapse:collapse;
	font-size: 11pt;
}
table.printforms_table_main th{
	border: 1px solid #000;
	height:30px;
}
table.printforms_table_main td{
	border: 1px solid #000;
	height:30px;
}
.printforms_table_main .th1{
	width:40px;
}
.printforms_table_main .th2{
	width:290px;
}
.printforms_table_main .th3{
	width:70px;
}
.printforms_table_main .th4{
	width: 53px;
}
.printforms_table_main .th5{
	width: 92px;
}
.printforms_table_main .th6{
	width: 107px;
}

table.printforms_table_main tr td {
	padding: 1px 7px;
	vertical-align: top;
}

table.printforms_table_main tr td:nth-child(1),
table.printforms_table_main tr td:nth-child(3),
table.printforms_table_main tr td:nth-child(5),
table.printforms_table_main tr td:nth-child(6) {
	text-align: right;
}

.printforms_tablemec tr td:nth-child(2) {
	width: 93px;
}

.printforms_ttt {margin-top: -5px;}