*{
	margin:0;
	padding:0;
}
body{
	font-family:calibri;
}
/* HEADER BEGIN... */


.printforms_headCenter{
	width:1050px;
	border-bottom:2px solid green;
	margin:30px auto;
	overflow:hidden;
}
.printforms_logo{
	width:400px;
	float:left;
	margin-bottom: 5px;
}
h2{
	font-size:50px;
}
p{
	font-size:15px;
}
.printforms_number{
	margin-top:50px;
}
.printforms_adress{
	width:400px;
	float:right;
}
.printforms_font{
	font-style:italic;
	margin-top:5px;
	font-size:17px;
}

/* HADER END */


/* NUMBER */

.printforms_headerBottom{
	width:1050px;
	margin:20px auto;
	overflow:hidden;
}
.printforms_txt{
	width:200px;
	float:right;
}
.printforms_tableHead{
	text-align:center;
}

/* TABLE */


table{
	width:1050px;
	margin:40px auto;
	border:1px solid #000;
	border-collapse:collapse;
}
table th{
	border:1px solid #000;
	height:50px;
}
table td{
	height:50px;
	border:1px solid #000;
	
}
.th1{
	width:4%;
}
.th2{
	width:85%;
}
.th3{
	width:11%;
}
/* TABLE TEXTS */

.printforms_text{
	width:1050px;
	margin:30px auto;
}
.printforms_table_bottom{
	font-size:18px;
	margin-top:30px;
	
}

/* SIGNING */

.printforms_end{
	width:1050px;
	margin:60px auto;
	overflow:hidden;
}
.printforms_pechat{
	float:right;
	width:700px;
}
.printforms_area{
	width:200px;
	float:left;
	margin-left:20px;
}
.printforms_ruk{
	float:left;
}
.printforms_imgpachat{
	margin:20px auto;
	width:500px;
}
.printforms_imgpachat img{
	width:150px;
	
}
span{
	font-size:20px;
}
.sing{
	width:100px;
	height:40px;
	
}


/* MEDIA */

@media all and (max-width:1285px){
.printforms_logo {
    width: 420px;
}
.printforms_adress {
    width: 512px;
}	
}

