*{
	margin:0;
	padding:0;
}
body{
	font-family: Times, "Times New Roman", serif;
	font-size: 11pt;
}
.printforms_head{
	width:170mm;
	margin: 32px auto;
}
.printforms_border{
	width: 100%;
	display:block;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}
table{
	width:170mm;
	margin:5px auto;
	border-collapse:collapse;
	font-size: 11pt;
}
table th{
	border:1px solid grey;
	height:30px;
}
table td{
	border:1px solid grey;
	height:30px;
}
.th1{
	width:40px;
}
.th2{
	width:290px;
}
.th3{
	width:70px;
}
.th4{
	width: 53px;
}
.th5{
	width: 92px;
}
.th6{
	width: 107px;
}
.printforms_tablepoqr{
	width:180px;
	margin: 5px 0;
}
.printforms_minTable{
	width:170mm;
	margin: -5px auto 10px;
	overflow:hidden;
}
.printforms_tableLeft{
	float:left;
}
.printforms_tableRight{
	float:right;
}
.printforms_tablemec{
	width: 257px;
}
.printforms_text{
	width:170mm;
	margin:10px auto;
}
.printforms_end{
	width:170mm;
	margin:30px auto;
	overflow:hidden;
}
.printforms_pechat{
	float:left;
	width: 321px;
}
.printforms_area{
	width: 165px;
	float:left;
	margin-left:20px;
}
.printforms_ruk{
	float:left;
}
.printforms_imgpachat{
	margin:20px auto;
	width:200px;
}
.printforms_imgpachat img{
	width:150px;
	
}
span{
	font-size: 11pt;
}

.printforms_head h1 {font-size: 16pt;line-height: 15pt;}

.printforms_bl0 {margin-bottom: 8px;}

.printforms_bl1 {margin-top: 8px;margin-bottom: 10px;}

.printforms_bl1 p {line-height: 16px;}

.printforms_padd1 {
	box-sizing: border-box;
	padding-left: 10px;
}

.printforms_madd1 {
	margin-bottom: 15px;
}

table tr td {
	padding: 1px 7px;
	vertical-align: top;
}

table tr td:nth-child(1),
table tr td:nth-child(3),
table tr td:nth-child(5),
table tr td:nth-child(6) {
	text-align: right;
}

.printforms_all tr td:nth-child(2) {
	width: 93px;
	text-align: right;
}

.printforms_all tr td {
	height: auto;
}

.printforms_tablepoqr th {
	border: 2px solid #000;
}

.printforms_alal {line-height: 25px;margin-top: 10px;}

.printforms_ara {width: 115px;}