*{
	margin:0;
	padding:0;
}
body{
	font-family: Times, "Times New Roman", serif;
	font-size: 9pt;
}
.printforms_verx{
	width: 260mm;
	overflow:hidden;
	margin:10px auto;
}
.printforms_left{
	float:left;
	overflow:hidden;
	width: 888px;
}
.printforms_small{
	overflow:hidden;
	margin-bottom: 10px;
}
.printforms_manr {
    font-size: 7pt;
    float: right;
}
.printforms_ip{
	border-bottom: 1px solid #000;
}
.printforms_text_1{
	font-size: 8pt;
}
.printforms_org {
    width: 313px;
    margin: 0 auto;
	overflow:hidden;
}
.printforms_manr_2 {
    font-size: 6pt;
    float: left;
    width: 360px;
    margin-top: 0px;
    font-weight:700;
    margin-bottom: 10px;
}
.printforms_text_2 {
    float: left;
    font-size: 13px;
}
.printforms_post {
    float: left;
}
.printforms_heading{
	float: left;
	font-size: 9pt;
}
.printforms_pst {
    margin-left: 165px;
    font-size: 13px;
   
}
.printforms_post_text {
    float: left;
    padding-bottom: 0px;
}

.printforms_pst {
    margin-left: 120px;
    font-size: 8pt;
    border-bottom: 1px solid #000;
}
.printforms_levo{
    float: right;
}
.printforms_tg  {
	border-collapse:collapse;
	border-spacing:0;
}
.printforms_tg td{
	/* font-family:Arial, sans-serif; */
	font-size: 8pt;
	padding:0px 5px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
}
.printforms_tg th{
	font-family:Arial, sans-serif;
	font-size:10px;
	font-weight:normal;
	padding:0px 5px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
}
.printforms_tg .printforms_tg-yw4l{
	vertical-align:top
}
.printforms_tg{
	width:260mm;
	margin:0px auto;
}
.printforms_tg2  {
	width:800px;
	float:right;
	border-collapse:collapse;
	border-spacing:0;
}
.printforms_tg2 td{
	font-family:Arial, sans-serif;
	font-size:14px;
	padding:10px 5px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
}
.printforms_tg2 th{
	font-family:Arial, sans-serif;
	font-size:14px;
	font-weight:normal;
	padding:10px 5px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
}
.printforms_tg2 .printforms_tg-yw4l{
	vertical-align:top
}

.printforms_tg1  {
	border-collapse:collapse;
	border-spacing:0;
}
.printforms_tg1 td{
	/* font-family:Arial, sans-serif; */
	font-size:14px;
	padding: 7px 5px;
	border: 1px solid #000;
	overflow:hidden;
	word-break:normal;
}
.printforms_tg1 th{
	font-family:Arial, sans-serif;
	font-size:14px;
	font-weight:normal;
	padding:10px 5px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
}
.printforms_table2{
	width:260mm;
	margin:20px auto;
	overflow:hidden;
}
.printforms_tg1 .printforms_s6z2{text-align:center}
.printforms_tg1 .printforms_baqh{text-align:center;vertical-align:top}
.printforms_tg1 .printforms_yw4l{vertical-align:top}
.printforms_table00{
	width:260mm;
	margin:20px auto;
	overflow:hidden;
}
.printforms_00{
	border-collapse:collapse;
	border-spacing:0;
	width:500px;
	margin:0px auto;
	margin-left: 33px;
	text-align: center;
}
.printforms_00 td{
	/* font-family:Arial, sans-serif; */
	font-size:14px;
	padding: 5px 5px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
}
.printforms_00 th{
	/* font-family:Arial, sans-serif; */
	font-size: 9pt;
	font-weight:normal;
	padding: 3px 5px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
}
.printforms_txt{
	width:260mm;
	margin:0px auto;
	margin-bottom: 13px;
	overflow: hidden;
}
.printforms_txt_sp{
	float:left;
	/* margin-left:20px; */
	margin-right: 20px;
}
.printforms_txt_big{
	width:260mm;
	margin:0px auto;
	overflow:hidden;
}
.printforms_podpis_left{
	float:left;
	width: 43%;
	overflow:hidden;
}
.printforms_massgr{
	overflow:hidden;
}
.printforms_massa_gruppa{
	float:right;
}
.printforms_vsegomest{
	overflow:hidden;
	margin-top:15px;
}
.printforms_bigsec{
	border-right:1px solid #000;
}
.printforms_pad_priloj{
	overflow:hidden;
	margin-top:15px;
}
.printforms_name{
	width:150px;
	float:left;
}
.printforms_podpis_right{
	float:left;
	overflow:hidden;
}
.printforms_podpis_right_top{
	overflow:hidden;
	margin-bottom:20px;
}
.printforms_podpis_right_left{
	width:250px;
	float:left;
	overflow:hidden;
}
.printforms_end_table{
	width:200px;
	border:2px solid #000;
	width: 292px;
	height:50px;
	margin-left:10px;
	/* border: 3px solid #000; */
	/* margin-top: -8px; */
	/* position: absolute; */
	margin-left: 13px;
}
.printforms_podpis_right_table{
	float:left;
	width:300px;
	height:50px;
}
.printforms_podpis_name{
	width:150px;
	overflow:hidden;
	margin-top:10px;
}
.printforms_bez_nds{
	overflow:hidden;
	margin-top:38px;
}
.printforms_bez_nds_left{
	width:320px;
	float:left;
}
.printforms_bez_nds_tbody{
	float: left;
    margin-left: 10;
}
.printforms_tg_verj  {border-collapse:collapse;border-spacing:0;width:210px;}
.printforms_tg_verj td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.printforms_tg_verj th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}

.printforms_tg1 tr:nth-child(2) {
	border-top: 3px solid #000;
}

.printforms_tg1 tr:last-child {
	border-bottom: 3px solid #000;
}

.printforms_tg1 tr {
	border-left: 3px solid #000;
	border-right: 3px solid #000;
}

.printforms_tg1 tr:nth-child(1) {
	border-left: none;
	border-right: none;
}

.printforms_raa {
	margin: 20px auto;
}

.printforms_pqpq td:nth-child(1) {
	border: none;
	text-align: right;
	font-weight: bold;
}

.printforms_end_table {
	border-collapse: collapse;
}

/* SIGNING */

.printforms_end{
	width: 170mm;
	margin: 18px auto 10px;
	overflow:hidden;
	margin-top: 70px;
}
.printforms_pechat{
	float:right;
	/* width: 697px; */
	font-size: 11pt;
}
.printforms_area{
	width: 171px;
	float:left;
	margin-left:20px;
}
.printforms_ruk{
	float:left;
	font-size: 11pt;
}
.printforms_imgpachat{
	margin:20px auto;
	margin-left: 104px;
	/* width:500px; */
}
.printforms_imgpachat img{
	width:150px;
	
}

.sing {
    width: 100px;
    height: 40px;
    /* margin-top: -26px; */
    margin-left: 10px;
    margin-bottom: -14px;
    position: relative;
}