*{
	margin:0;
	padding:0;
}
body{
	font-size: 11pt;
	font-family: Times, "Times New Roman", serif;
	padding-top: 30px;
}
h1{
	font-size: 16pt;
}
p{
    font-size: 11pt;
}
span{
    font-size: 11pt;
}
.printforms_head{
	width:270mm;
	margin:10px auto;
	overflow:hidden;
}
.printforms_head_left{
	float:left;
}
.printforms_head_right{
	float:right;
}
.printforms_head2{
	width:270mm;
	margin: 8px auto;
	overflow:hidden;
}
.printforms_head2 span{
	float:left;
}
.printforms_head_txt{
	border-bottom:1px solid #000;
	margin-left:100px;
}
.printforms_head_table{
	float:left;
	margin-left: 176px;
}
table{
	border-collapse:collapse;
}
.printforms_head_table th{
	border:1px solid #000;
	
	padding:10px;
	
}
.printforms_tablebig{
	width:270mm;
	margin:50px auto;
	border:1px solid #000;
}
.th1{
	width:20%;
}
.th2,.th3,.th7,.th8,.th9,.th12{
	width:5%;
}
.th4,.th5,.th6,.th10{
	width:7%
}
.th11{
	width:4%;
}
.th13{
	width:18%;
}
td{
	border:1px solid #000;
}
.tg  {
	border-collapse:collapse;
	border-spacing:0;
	width:270mm;
	margin:0px auto;
}
.tg td{
	/* font-family:Arial, sans-serif; */
	font-size:14px;
	padding:10px 5px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
}
.tg th{
	/* font-family:Arial, sans-serif; */
	font-size:14px;
	font-weight:normal;
	padding:10px 5px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
}
.tg .tg-yw4l{
	vertical-align:top
}
.printforms_bottomLeft{
	float:left
}

.printforms_head_right p {
	font-size: 10pt;
}


.printforms_ttt {
	font-size: 15pt;
	height: 40px;
	line-height: 40px;
}

.printforms_bbb {
	font-weight: bold;
}

.printforms_bottomRight {
	float: right;
}

.printforms_bottomLeft,
.printforms_bottomRight {
	width: 50%;
}

.printforms_span {
	font-size: 10pt;
	padding-left: 106px;
}

.printforms_linee {
	overflow: hidden;
	margin-bottom: 10px;
}

.printforms_lo {
	width: 250px;
	padding-bottom: 3px;
}

.printforms_marrr {
	margin-top: 40px;
}

.printforms_bl span {
	border: 2px solid #000 !important;
	padding: 9px 28px;
	line-height: 28px;
	font-size: 13pt;
}

.printforms_bl {
	position: absolute;
	margin-top: -78px;
	margin-left: 284px;
}