﻿<div style="margin:0 auto;width: 170mm; overflow: hidden; text-align: center;">
	<div class=""><img src="img/pro.jpg" style="margin-top: 11px;"></div>
	<p style=" display: block; margin: 0 auto;
    margin-top: 11px; ">ПРАЙС-ЛИСТ<br>
СОВРЕМЕННЫЕ СРЕДСТВА ОБУЧЕНИЯ<br>
(Дата генерации: 04.02.2016</p>
<p style=" display: block;
    margin-top: 11px;">+7 (495) 668-09-75<br>
	www.protechtraining.ru<br>
	zakaz@protechtraining.ru
</p>
</div>
<table border='0' cellspacing='0' cellpadding='2' style='width: 170mm; border-top:solid 1px #000000; border-left:solid 1px #000000;margin:0 auto; '>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;background: #455473;
    color: green;'>№</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;background: #455473;
    color: green; font-size:12px;'>КОМПЬЮТЕРНЫЕ ТРЕНАЖЕРНЫЕ КОМПЛЕКСЫ (с правом установки на 10 компьютеров или SCORM пакет на 1 сервер) </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;background: #455473;
    color: green;'>Цена, руб. </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;background: #455473;
    color: green;'>Ваш заказ</td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;background: gray;'></td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;text-align: center;
    background: gray;'>Нефтегазовая промышленность</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;background: gray;'></td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;background: gray;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>1</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Виртуальное месторождение. Кустовая площадка добывающих скважин</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>1 250 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>2</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Тренажер персонала АГНКС</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Скоро</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>3</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Агрегат депарафинизации скважин АДПМ 12/150. Последовательность действий оператора добычи </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>210 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>4</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Технология глушения скважины</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>85 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>5</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Технология освоения скважины</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>85 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>6</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Газоопасные работы на территории кустовой площадки</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>85 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>7</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Огневые работы на территории кустовой площадки</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>85 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>8</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Защита трубопроводов от коррозии. Средства мониторинга. Техническое обслуживание</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>245 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>9</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Защита трубопроводов от коррозии. Средства мониторинга. Снятие показаний</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>245 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>10</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Защита трубопроводов от коррозии. Блок дозирования реагентов. Обслуживание и снятие показаний</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>155 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>11</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>УЭЦН. Конструкция и назначение</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>70 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>12</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Запорная арматура с ручным приводом. Техническое обслуживание</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>85 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>13</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Запорная арматура с ручным приводом. Техническое обслуживание (без демонтажа)</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>85 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>14</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Осмотр трубопроводов, нарушения изоляции, КПП СОД</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>225 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>15</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Замерная установка «Спутник». Обнаружение и устранение неисправностей</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>210 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>16</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Гидроиспытания сосудов работающих под давлением (с демонтажом)</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>75 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>17</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Замерная установка «ОЗНА- Импульс». Обнаружение и устранение неисправностей</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>210 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>18</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Замерная установка «Сатурн». Обнаружение и устранение неисправностей</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>210 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>19</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Замерная установка «Мера». Обнаружение и устранение неисправностей</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>210 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>20</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>ПТБ. Запуск и останов</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>230 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>21</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>СРД. Техническое освидетельствование</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>210 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>22</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>ПТБ. Обнаружение и устранение неисправностей</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>270 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>23</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>УПСВ. ПЛАС</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>235 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>24</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Очистные устройства трубопроводов. Обзор видов</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>70 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>25</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Очистные устройства трубопроводов. Технология запуска и приема</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>250 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>26</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Отказ нефтесборного (эксплуатационного) трубопровода</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>295 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>27</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Пожар на площадке дренажной емкости</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>140 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>28</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Пожар в замерной установке</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>140 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>29</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Открытое фонтанирование скважины</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>295 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>30</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Разгерметизация в насосной на нефтеперекачивающей станции</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>100 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>31</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Разгерметизация нефтегазосборного трубопровода</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>295 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>32</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Разгерметизация абсорбера и фильтра сепаратора</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>100 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>33</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Пожар при разгерметизации регенерационной колонны</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>100 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>34</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Прогар или разгерметизация оборудования на установке производства дизельного топлива</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>295 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>35</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Разгерметизация насоса на установке производства дизельного топлива</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>295 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>36</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Разгерметизация сепаратора на центральном пункте сбора</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>140 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>37</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Разгерметизация оборудования на центральном пункте сбора</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>100 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>38</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Разгерметизация оборудования с воспламенением на центральном пункте сбора</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>100 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>39</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>ППУ. Последовательность действий оператора добычи</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>210 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>40</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Галтельная муфта. Ремонт поперечных сварных швов при ремонте нефтепроводов</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>245 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>41</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Катушка. Вырезка и врезка при ремонте нефтепроводов</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>245 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>42</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>БКНС. Технологические операции</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>500 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>43</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Кустовая площадка водозаборных скважин. Технологические операции</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>500 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>44</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Кустовая площадка водозаборных скважин. ПЛАС</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>500 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>45</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Нагнетательная скважина. Технологические операции</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>500 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>46</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Технология ремонта трубопровода под давлением без остановки транспорта нефти</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>345 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>47</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Установка предварительного сброса воды. Магистральная насосная. Запуск и останов</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>255 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>48</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Установка предварительного сброса воды. Техническое обслуживание</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>235 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>49</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Установка предварительного сброса воды. Магистральная насосная. ПЛАС</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>255 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>50</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Установка предварительного сброса воды. ПТБ. Запуск и останов</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>230 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>51</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Установка предварительного сброса воды. ПТБ. Обнаружение и устранение неисправностей</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>270 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>52</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Установка предварительного сброса воды. ПЛАС</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>235 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>53</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>CCM «PHASE DINAMICS». Устройство и эксплуатация</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>85 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>54</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>ОЗНА Массомер 3000. Устройство и эксплуатация</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>85 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>55</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>ССМ «PHASE DINAMICS». Обнаружение и устранение неисправностей</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>85 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>56</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>ОЗНА Массомер 3000. Обнаружение и устранение неисправностей</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>85 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>57</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Блок дозирования реагентов. Техническое обслуживание</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>50 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>58</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Блок дозирования реагентов. Запуск, останов, заправка, изменение режима работы оборудования</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>180 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>59</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Блок дозирования реагентов. ПЛАС</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>90 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>60</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Запуск установки производства дизельного топлива</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>500 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>61</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Центральный пункт сбора. РВС. Запуск и останов</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>85 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>62</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Центральный пункт сбора. Сепаратор. Запуск и останов</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>295 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>63</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>ЦА. Последовательность действий оператора добычи</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>210 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>64</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Эксплуатация газодобывающей скважины. Арматурный блок и УДХ. Технологические операции</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>140 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>65</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Эксплуатация газодобывающей скважины. Разгерметизация запорной арматуры. ПЛАС</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>80 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>66</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>УЭЦН. Запуск, вывод на режим </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>200 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>67</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>УШГН. Изменение режима эксплуатации</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>300 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>68</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>УШГН. Уравновешивание привода</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>300 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>69</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>УШГН. Динамометрирование</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>300 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>70</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Нефтегазоводопроявление при капитальном ремонте скважины</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>150 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>71</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Ликвидация аварийной ситуации (Установка гидроочистки широкой фракции и каталитического риформинга)</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>500 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>72</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Поиск неисправностей при обходе оборудования цеха ГПУ-16</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>500 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;background: gray;'></td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;background: gray;text-align:center;'>Стропальное дело</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;background: gray;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;background: gray;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>73</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Стропальное дело</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>200 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>74</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Браковка стальных канатов, СГП (стропов), стропов из стальных цепей</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>200 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>75</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Обвязка и зацепка грузов</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>200 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;background: gray;'></td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;background: gray;text-align:center;'>АВТОТРАНСПОРТ И СПЕЦИАЛЬНАЯ ТЕХНИКА</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;background: gray;'> </td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;background: gray;'></td>
</tr>
<tr>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>76</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>Компьютерный тренажер по обучению ремонту КПП автомобиля КамАЗ-5350</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'>260 000</td>
<td style='border-bottom:solid 1px #000000; border-right:solid 1px #000000;'></td>
</tr>
</table>
