*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	font-family: Times, "Times New Roman", serif;
}
/* HEADER BEGIN... */


.printforms_headCenter{
	width: 170mm;
	border-bottom: 1px solid #67981a;
	margin:30px auto;
	/* overflow:hidden; */
}
.printforms_logo{
	width: 257px;
	text-align: center;
	float:left;
	margin-bottom: 5px;
}
h2{
	font-size:50px;
}
p{
	font-size:15px;
}
.printforms_number{
	margin-top: 22px;
	line-height: 16px;
}
.printforms_adress{
	width: 360px;
	float:right;
	text-align: right;
	color: #254160;
	padding-top: 5px;
}
.printforms_font{
	font-style:italic;
	margin-top: 1px;
	font-size: 11pt;
	line-height: 18px;
}

/* HADER END */


/* NUMBER */

.printforms_headerBottom{
	width: 170mm;
	margin: 7px auto;
	margin-top: -20px;
	/* overflow:hidden; */
}
.printforms_txt{
	/* width:200px; */
	text-align: right;
}
.printforms_tableHead{
	text-align:center;
	margin-top: 34px;
	margin-bottom: 22px;
}

/* TABLE */


table{
	width: 170mm;
	margin: 16px auto 0px;
	border:1px solid #000;
	border-collapse:collapse;
}
table th{
	border:1px solid #000;
	padding: 8px 0;
}
table td{
	/* height:50px; */
	border:1px solid #000;
}
.th1{
	width: 8mm;
}
.th2{
	width: 149mm;
}
.th3{
	width: 28mm;
}
/* TABLE TEXTS */

.printforms_text{
	width: 170mm;
	margin: 13px auto 39px;
	line-height: 19px;
}
.printforms_table_bottom{
	font-size: 11pt;
	margin-top: 18px;
}

/* SIGNING */

.printforms_end{
	width: 170mm;
	margin: 18px auto 10px;
	overflow:hidden;
}
.printforms_pechat{
	float:right;
	/* width: 697px; */
	font-size: 11pt;
}
.printforms_area{
	width: 171px;
	float:left;
	margin-left:20px;
}
.printforms_ruk{
	float:left;
	font-size: 11pt;
}
.printforms_imgpachat{
	margin:20px auto;
	margin-left: 104px;
	/* width:500px; */
}
.printforms_imgpachat img{
	width:150px;
	
}
span{
	font-size: 11pt;
}
.sing{
	width:100px;
	height:40px;
	margin-top: -26px;
	margin-left: 10px;
	position: absolute;
}
.printforms_adress h3 {
	color: #808080;
	font-size: 11pt;
}

.printforms_number p {
	font-weight: bold;
}

.printforms_tableHead h3 {
	font-size: 10pt;
	font-weight: bold;
}

table tr th {
	color: #404040;
	font-size: 11pt;
}

table tr td:nth-child(1) {
	text-align: center;
}

table tr td:nth-child(3)  {
	text-align: right;
}

table tr td {
	padding: 1px 8px;
	font-size: 11pt;
	vertical-align: top;
}

.bor {
	border-top: 2px solid #000;
	padding-top: 2px;
	margin-top: 22px;
}


.clear {
	clear: both;
}


.pp1 {margin-top: 61px;line-height: 20px;color: #254160;font-size: 12pt;}

.printforms_txt2 h3 {
	margin-bottom: 20px;
}

.printforms_txt2 p {
	font-size: 12pt;
}

.bbot {
	margin-bottom: 54px;
}