@media print {
    @page {
        size: landscape;
        margin: 1cm;
    }
}
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: calibri;
}

.height4mm {
    height: 4mm;
}

#printform_wrapper {
    margin: 0 auto;
    width: 275mm;
}

#printforms_tg1 {
    display: inline-block;
    font-size: 2.5mm;
    text-align: center;
}

.printforms_verx {
    width: 275mm;
    overflow: hidden;
    display: table-row;
}

.printforms_left {
    overflow: hidden;
    width: 240mm;
    display: table-cell;
    vertical-align: top;
}

.printforms_small {
    overflow: hidden;
}

.printforms_manr {
    font-size: 1.5mm;
    float: right;
}

.printforms_ip {
    border-bottom: 1px solid #000;
}

.printforms_text_1 {
    font-size: 2.5mm;
}

.printforms_org {
    font-size: 1.5mm;
    overflow: hidden;
    text-align: center;
    margin-left: 23mm;
}

.printforms_text_2 {
    float: left;
    font-size: 13px;
}

.printforms_post {
    min-height: 3.6mm;
}

.printforms_heading {
    float: left;
}

.printforms_pst {
    margin-left: 23mm;
    border-bottom: 0.3mm solid black;
}

.printforms_post_text {
    font-size: 2.5mm;
    padding-bottom: 1.5mm;
}

.printforms_levo {
    display: table-cell;
    width: 35mm;
    overflow: hidden;
    text-align: right;
}

.printforms_tg {
    border-collapse: collapse;
    border-spacing: 0;
}

.printforms_tg td {
    font-family: Arial, sans-serif;
    font-size: 10px;
    padding: 0px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
}

.printforms_tg th {
    font-family: Arial, sans-serif;
    font-size: 10px;
    font-weight: normal;
    padding: 0px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
}

.printforms_tg .printforms_tg-yw4l {
    vertical-align: top
}

.printforms_tg {
    width: 1050px;
    margin: 0px auto;
}

.printforms_tg2 {
    width: 800px;
    float: right;
    border-collapse: collapse;
    border-spacing: 0;
}

.printforms_tg2 td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
}

.printforms_tg2 th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
}

.printforms_tg2 .printforms_tg-yw4l {
    vertical-align: top
}

.printforms_tg1 {
    border-collapse: collapse;
    border-spacing: 0;
}

.printforms_tg1 td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
}

.printforms_tg1 th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
}

.printforms_table2 {
    width: 1050px;
    margin: 20px auto;
    overflow: hidden;
}

.printforms_tg1 .printforms_s6z2 {
    text-align: center
}

.printforms_tg1 .printforms_baqh {
    text-align: center;
    vertical-align: top
}

.printforms_tg1 .printforms_yw4l {
    vertical-align: top
}

.printforms_table00 {
    line-height: 1cm;
    height: 1cm;
    display: block;
    margin-top: 2mm;
    text-align: center;
}

.printforms_table00 > span {
    font-size: 3.5mm;
    font-weight: bold;
    text-transform: uppercase;
}

.printforms_00 {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 0 0 1cm;
    display: inline-block;
    width: 85mm;
    height: 0.8cm;
}

.printforms_00 tbody {
    width: 85mm;
    display: block;
}

.printforms_00 td {
    font-family: Arial, sans-serif;
    font-size: 4mm;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
}

.printforms_00 th {
    font-family: Arial, sans-serif;
    font-size: 4mm;
    font-weight: normal;
    padding: 10px 5px;
    border: 0.2mm solid black;
    overflow: hidden;
    word-break: normal;
}

.printforms_txt {
    width: 1050px;
    margin: 0px auto;
    margin-bottom: 50px;

}

.printforms_txt_sp {
    float: left;
    margin-left: 20px;
}

.printforms_txt_big {
    width: 1050px;
    margin: 0px auto;
    overflow: hidden;
}

.printforms_podpis_left {
    float: left;
    width: 45%;
    overflow: hidden;
}

.printforms_massgr {
    overflow: hidden;
}

.printforms_massa_gruppa {
    float: right;
}

.printforms_vsegomest {
    overflow: hidden;
    margin-top: 15px;
}

.printforms_bigsec {
    border-right: 1px solid #000;
}

.printforms_pad_priloj {
    overflow: hidden;
    margin-top: 15px;
}

.printforms_name {
    width: 150px;
    float: left;
}

.printforms_podpis_right {
    float: left;
    overflow: hidden;
}

.printforms_podpis_right_top {
    overflow: hidden;
    margin-bottom: 20px;
}

.printforms_podpis_right_left {
    width: 250px;
    float: left;
    overflow: hidden;
}

.printforms_end_table {
    width: 200px;
    border: 2px solid #000;
    width: 285px;
    height: 50px;
    margin-left: 10px;
    border: 4px solid #000;
}

.printforms_podpis_right_table {
    float: left;
    width: 300px;
    height: 50px;
}

.printforms_podpis_name {
    width: 150px;
    overflow: hidden;
    margin-top: 10px;
}

.printforms_bez_nds {
    overflow: hidden;
    margin-top: 38px;
}

.printforms_bez_nds_left {
    width: 320px;
    float: left;
}

.printforms_bez_nds_tbody {
    float: left;
    margin-left: 10;
}

.printforms_tg_verj {
    border-collapse: collapse;
    border-spacing: 0;
    width: 210px;
}

.printforms_tg_verj td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
}

.printforms_tg_verj th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
}







